.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header,.App-footer {
  background-color: #140359;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}


.navbar {
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em;
  font-family: 'Georgia';
}
.App-footer {
  margin-top: 10vh;
  min-height: 3vh;
  font-size:  2vmin;
}
button {
  padding: 0.5em 2em;
  background-color: white;
  font-family: 'Georgia';
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
